* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    background-color: deeppink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

h1 {
    color: white;
    margin: 20px 0;
    font-size: 24px;
}

.image {
    width: 300px;
    height: 300px;
    background-image: url("./img/forever-valentine-love.gif");
    background-position: center;
    background-size: cover;
    border-radius: 70%;
    margin: 20px 0;
}

.btns button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease; /* Faster transition for transform property */
}

#nooo:hover, #yessir:hover {
    background-color: lightpink;
}

p {
    margin-top: 20px;
}

.heart {
    position: absolute;
    bottom: -100px; /* Start just out of view */
    color: pink;
    animation: fly 10s linear infinite;
}

@keyframes fly {
    0% {
        transform: translateY(100%) translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-150%) translateX(calc(-100px + (200px * var(--direction))));
        opacity: 0;
    }
}
@keyframes fadeOutIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Apply this class to the h1 when its text changes */
.text-change-animation {
  animation: fadeOutIn 1s ease;
}
@keyframes fadeScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* Apply this class to the .image div when the image changes */
.image-change-animation {
  animation: fadeScaleIn 1s ease;
}
